* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(247, 245, 242); */
    background: #FFFCF8;

}

.nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding: 20px 0;
    background: #e4f2f2;
}

.nav2 {
    display: flex;
    justify-content: end;
    align-items: center;
    /* height: 100%; */
    margin: 10px 0;
    /* background: #e4f2f2; */
}

nav a {
  padding: 10px;
  margin: 0 20px;
  color: rgb(247, 245, 242);
  background-color: rgb(161, 161, 243);
  /* border: 2px solid blue; */
  border-radius: 10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav2 #a2 {
    padding: 5px;
  margin: 0 5px;
  color: rgb(161, 161, 243);
  background-color: #e4f2f2;
  font-size: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(161, 161, 243);
}

ul {
    padding: 0 0 0 80px;
}

li {
    padding-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    margin: 10px 0;
    padding-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    padding: 0 70px;
    text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}